body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 100%, 74%);
  }
  
  .container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  
  .intro, .signup {
    padding: 40px;
    flex: 1;
  }
  
  .intro {
    background: hsl(0, 100%, 74%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .intro h1 {
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .signup {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .offer {
    background: hsl(228, 45%, 44%);
    color: hsl(180, 0%, 100%);
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1rem;
  }
  
  .signup-form .form-control {
    margin-bottom: 15px;
  }
  
  .signup-form input {
    width: 100%;
    padding: 15px;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .signup-form input:focus {
    outline: none;
    border-color: hsl(245, 75%, 52%);
  }
  
  .signup-form .btn {
    width: 100%;
    background: hsl(149, 100%, 50%);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease;
  }
  
  .signup-form .btn:hover {
    background: hsl(225, 75%,65%);
  }
  
  .terms {
    font-size: 0.9rem;
    color: hsl(246, 25%, 55%);
    text-align: center;
    margin-top: 20px;
  }
  
  .terms a {
    color: hsl(0, 100%, 74%);
    text-decoration: none;
  }
  
  .terms a:hover {
    text-decoration: underline;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
  }
  
  footer .attribution {
    font-size: 11px;
  }
  
  footer .attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
  }
  
  footer .attribution a:hover {
    text-decoration: underline;
  }
  